.primary,
.secondary {
  cursor: pointer;
  border: none;
  min-width: 100px;
  height: 36px;
  line-height: 36px;
  border-radius: 8px;
}

.primary {
  color: white;
  background: #58a4b0;
}

.primary:disabled {

 color: white;
 background: #aaaaaa;
}

.secondary {
  background: white;
  color: #58a4b0;
}